# Cálculo de Km Média de Carros

## Fórmula

$$km_{media}=\frac{km_{total}}{Ano_{atual}-Ano_{fabicracao}}$$

## Imports

In [1]:
from pprint import pprint

## Dados

In [2]:
ANO_ATUAL = 2023

DADOS = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

## Funções

In [3]:
def mean_km(dataset, current_year):
    means = {}
    for entity in dataset.items():
        car_name = entity[0]
        car_total_km = entity[1]['km']
        car_fab_year = entity[1]['ano']
        
        result = car_total_km / (current_year - car_fab_year)
        result = round(result, 2)
        
        means[car_name] = result
    return means

## Execução

### Usando `ANO_ATUAL`

In [4]:
pprint(mean_km(DADOS, ANO_ATUAL))

{'Crossfox': 1944.44,
 'DS5': 2125.0,
 'Fusca': 2954.55,
 'Jetta': 4666.67,
 'Passat': 2583.33}

### Usando anos gerados dinamicamente

In [5]:
INITIAL_YEAR = 2030
YEAR_OFFSET = 5

years = range(INITIAL_YEAR, INITIAL_YEAR + abs(YEAR_OFFSET))

for year in years:
    print("===", year, "===")
    pprint(mean_km(DADOS, year))
    print()

=== 2030 ===
{'Crossfox': 1400.0,
 'DS5': 1133.33,
 'Fusca': 2549.02,
 'Jetta': 2947.37,
 'Passat': 2000.0}

=== 2031 ===
{'Crossfox': 1346.15,
 'DS5': 1062.5,
 'Fusca': 2500.0,
 'Jetta': 2800.0,
 'Passat': 1937.5}

=== 2032 ===
{'Crossfox': 1296.3,
 'DS5': 1000.0,
 'Fusca': 2452.83,
 'Jetta': 2666.67,
 'Passat': 1878.79}

=== 2033 ===
{'Crossfox': 1250.0,
 'DS5': 944.44,
 'Fusca': 2407.41,
 'Jetta': 2545.45,
 'Passat': 1823.53}

=== 2034 ===
{'Crossfox': 1206.9,
 'DS5': 894.74,
 'Fusca': 2363.64,
 'Jetta': 2434.78,
 'Passat': 1771.43}