# Pandas - Estruturas de Dados

In [1]:
import pandas as pd

## Estrutura de Dados

### Series

- Estruturas de dados similar a uma lista
- Representa cada item por um índice (index)
- Pode receber uma lista, dict, constante ou array Numpy.

```python
s = pd.Series(dados), index=index)
```

#### Criando a partir de uma lista

In [7]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

In [10]:
inteiros = [1, 2, 3]
pd.Series(inteiros)

0    1
1    2
2    3
dtype: int64

In [17]:
flutuantes = [1.2, 30, 9.32]
pd.Series(flutuantes)

0     1.20
1    30.00
2     9.32
dtype: float64

In [19]:
series = [pd.Series(range(5)), pd.Series(range(10)), pd.Series(range(15))]
pd.Series(series)

0      0    0
1    1
2    2
3    3
4    4
dtype: int64
1    0    0
1    1
2    2
3    3
4    4
5    5
6   ...
2    0      0
1      1
2      2
3      3
4      4
5...
dtype: object

In [24]:
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
pd.Series(lists)

0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object

#### Criando a partir de um `zip`

In [28]:
names = ['Roberto', 'Carla', 'José', 'Marcilio', 'Renata']
anos = [1998, 1997, 2000, 1875, 2015, 2005]
zipped = zip(names, anos)
pd.Series(zipped)

0     (Roberto, 1998)
1       (Carla, 1997)
2        (José, 2000)
3    (Marcilio, 1875)
4      (Renata, 2015)
dtype: object

### DataFrame

- Estrutura de dados tabular
- Rotula os itens através de linhas e colunas
- Pode receber uma lista, dict, array Numpy, Series ou outro DataFrame.

#### Criando a partir de um dicionário

In [42]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [43]:
dataframe = pd.DataFrame(dados)
dataframe

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

#### Criando a partir de uma namedtuple

In [31]:
from collections import namedtuple
User = namedtuple('User', ['name', 'birthyear'])

In [41]:
users = [User(name='José', birthyear=1875), User(name='Renata', birthyear=2005)]
pd.DataFrame(users)

     name  birthyear
0    José       1875
1  Renata       2005

### Modificando a a ordem das colunas

In [46]:
dataframe[['Ano', 'Nome', 'Valor', 'Motor', 'Quilometragem', 'Zero_km']]

    Ano           Nome      Valor            Motor  Quilometragem  Zero_km
0  2003  Jetta Variant   88078.64  Motor 4.0 Turbo        44410.0    False
1  1991         Passat  106161.94     Motor Diesel         5712.0    False
2  1990       Crossfox   72832.16  Motor Diesel V8        37123.0    False

### Criando a partir de um arquivo externo

In [55]:
carros = pd.read_csv('db.csv', sep=';', index_col='Nome')
carros

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47